.logout-btn {
  background: linear-gradient(45deg, #FF7E5F, #feb47b);
  color: white;
  border: none;
  outline:none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size:20px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 20px;
  align-self: flex-end;
}

.logout-btn:hover {
  background: linear-gradient(45deg, #feb47b, #FF7E5F);
}
@media (min-width: 768px) {
  .logout-btn {
    margin-top: 0;
    margin-bottom: 20px;
    align-self: flex-end;
  }
}